@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #000000;

  /* fonts */
  --font-bubblegum: ui-sans-serif;
  --font-merriweather: serif;
  --font-smooch: ui-sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-merriweather);
  --font-mono: var(--font-merriweather);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

.outlineText {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-smooch), sans-serif;
}

input, label {
  font-family: var(--font-bubblegum);
}

